* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #ffecd2;

}

.todoLists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todoList {
    width: 400px;
    min-height: 300px;
    border-radius: 20px;
    border: solid 8px #2c3033;
    box-shadow: 0 0 0px 1px rgba(255, 255, 255, .4),
    0 0 0px 3px #2c3033;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #bdcdd6;
    margin: 50px auto
}

.todoList-header__title {
    margin-left: 20px;
}

.todoList-header__delete-button {
    margin-right: 20px;
}

.todoList-newTaskForm input[type=text] {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 -1px 0 #e2e4ea inset;
    color: #455963;
    width: 200px
}

.todoList-newTaskForm input[type=text]:focus {
    box-shadow: 0 -1px 0 #bdcdd6 inset;
}


.todoList-newTaskForm input[type=text].inputErrorStyle {
    box-shadow: 0 -2px 0 rgba(240,77,62,0.58) inset;
}

.todoList-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.todoList-task.taskChecked {
    opacity: 0.4
}
.todoList-task span {;
}
.todoList-task input {
    max-width: 130px;
    background: none;
    border: none;
    font: inherit;


}

.todoList-task span:first-of-type {
    margin-right: 15px
}

.todoList-task span:not(:first-of-type) {
    border-bottom: dashed 2px black;
    padding: 3px 8px;
    margin-right: 15px
}

.todoList-task button {
    background: none;
    border: none
}

.todoList-task button:hover {
    cursor: pointer;
}

.todoList-task:nth-child(odd) {
    background: rgba(0, 0, 50, .1);
}


.todoList-headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0 0px;
    background-image: linear-gradient(#687480 0%, #3b4755 100%);
    font: bold 18px/50px arial;
    text-align: center;
    color: white;
}

.todoList-header__title {
    margin-right: 10px;
}

.todoList-header .todoList-newTaskForm {
    display: flex;
    margin: 10px;
}

.todoList-newTaskForm button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    margin-left: 10px;
    background: linear-gradient(#687480 0%, #3b4755 100%);
    color: white;
}

.todoList-newTaskForm button:hover {
    cursor: pointer;
}

.todoList__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.todoList-footer {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.todoList-header__delete-button-img {
    width: 20px;
    fill: white;
}

.todoList-header__delete-button {
    border: none;
    background: none;
}

.todoList-header__delete-button:hover {
    cursor: pointer;
}

.todoList-footer button {
    border: 0;
    padding: 3px 8px;
    background: 0;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    color: black;
    border-radius: 20px;
    font-weight: 600;
}

.todoList-footer .filter-active {
    background-image: linear-gradient(#687480 0%, #3b4755 100%);
    color: #fff;
}
.todoList-footer span {
    border-bottom:1px solid black ;
}
.todoList-footer span:hover {
    cursor:pointer ;
}